@tailwind base;
@tailwind components;
@tailwind utilities;

.rise {
  width: var(--size);
  height: var(--size);
  position: absolute;
  opacity: 0;
  top: 40vh;
  color: var(--color);
  animation: rise var(--time) linear infinite;
  animation-delay: var(--delay);
}

.rise > svg {
  filter: drop-shadow(3px 5px 2px var(--shadow));
}

@keyframes rise {
  0% { 
    transform: translate3d(var(--x-start), var(--y-start), 0);
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: translate3d(var(--x-end), var(--y-end), 0);
    opacity: 0;
  }
}

.bg-move {
	background-size: 400% 400%;
	animation: bg-move 15s ease infinite;
}

@keyframes bg-move {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}