$block: ".hex-grid";

@mixin grid-item($amount) {
  @for $i from 1 through $amount {
    &:nth-of-type(#{$amount}n + #{$i}) {
      --amount: #{$amount};
      --i: #{$i};
      grid-column: #{$i + $i - 1} / span 3;

      @if $i % 2 == 0 {
        grid-row: calc(var(--counter) + var(--counter) - 1) / span 2;
      }
    }
  }

  @for $i from 1 through 20 {
    &:nth-of-type(n + #{$i * $amount + 1}) {
      --counter: #{$i + 1};
    }
  }
}

#{$block} {
  max-height: 100vh;
  overflow: hidden;

  &__list {
    --amount: 5;

    position: relative;
    display: grid;
    margin: -5% -2.5%;
    padding: 0;
    list-style-type: none;

    grid-template-columns: repeat(var(--amount), 1fr 2fr) 1fr;
    grid-gap: 1rem 2rem;
  }

  &__item {
    position: relative;

    height: 0;
    padding-bottom: 90%;

    grid-column: 1 / span 3;
    grid-row: calc(var(--counter) + var(--counter)) / span 2;
  }

  &__content {
    position: absolute;
    display: flex;
    padding: 2rem 25%;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1.125rem;
    text-decoration: none;
    text-align: center;
    color: #111111;
    background-color: #c4b5fd;
    opacity: 0;

    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);

    transition: opacity 10s ease-out;
    filter: blur(2px);

    @media not all and (prefers-reduced-motion: reduce) {
      &:hover,
      &.highlight {
        opacity: 0.4;
        transition: opacity 0.4s ease-out;
      }
    }
  }
}

// @media screen and (min-width: 1440px) {
#{$block} {
  &__list {
    --amount: 12;
    --counter: 1;
  }

  &__item {
    @include grid-item(12);
  }
}
// }

// @media screen and (min-width: 1120px) and (max-width: 1439px) {
//   #{$block} {
//     &__list {
//       --amount: 4;
//       --counter: 1;
//     }

//     &__item {
//       @include grid-item(4);
//     }
//   }
// }

// @media screen and (min-width: 840px) and (max-width: 1119px) {
//   #{$block} {
//     &__list {
//       --amount: 3;
//       --counter: 1;
//       grid-gap: 1.5rem 3rem;
//     }

//     &__item {
//       @include grid-item(3);
//     }
//   }
// }

// @media screen and (min-width: 480px) and (max-width: 839px) {
//   #{$block} {
//     &__list {
//       --amount: 2;
//       --counter: 1;
//       grid-gap: 1.5rem 3rem;
//     }

//     &__item {
//       @include grid-item(2);
//     }
//   }
// }

// @media screen and (max-width: 479px) {
//   #{$block} {
//     &__list {
//       --amount: 1;
//       grid-gap: 1.5rem 3rem;
//     }
//   }
// }
