@import "./button.css";

@tailwind base;
@tailwind components;

body {
  @apply bg-purple-100;
}

@tailwind utilities;

html {
  scroll-behavior: smooth;
}

a {
  transition: all 0.25s;
}

#hero {
  background-image: url('/static/images/hero-mobile.png');
  background-size: cover;
  background-position: center;
  background-color: #422D54;
  background-blend-mode: multiply;
}

@media (min-width: 640px) {
  #hero {
    background-image: url('/static/images/hero-full.png');
  }
}