@tailwind base;
@tailwind components;

/*
TODO: Fix Tailwind not working in @import:
@import "./button.css";
*/
.btn {
  @apply inline-block bg-purple-700 text-white font-bold py-2 px-4 rounded-lg;
}
.btn:hover {
  @apply bg-purple-600;
}
.btn:focus {
  @apply outline-none bg-purple-600;
}

.btn-blue {
  @apply bg-blue-500;
}
.btn-blue:hover {
  @apply bg-blue-600;
}
.btn-blue:focus {
  @apply bg-blue-600;
}

.btn-orange {
  @apply bg-orange-500;
}
.btn-orange:hover {
    @apply bg-orange-600;
}
.btn-orange:focus {
    @apply bg-orange-600;
}

input + .btn {
  @apply rounded-tl-none rounded-bl-none;
}
/*
end @import "./button.css";
*/

.section {
  @apply max-w-7xl mx-auto px-3 py-6;
}

@tailwind utilities;

html {
  scroll-behavior: smooth;
}

a {
  transition: all 0.25s;
}

#hero {
  background-image: url("/static/images/hero-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-color: #422d54;
  background-blend-mode: multiply;
}

@media (min-width: 640px) {
  #hero {
    background-image: url("/static/images/hero-full.jpg");
  }
}
