@tailwind base;
@tailwind components;

/*
TODO: Fix Tailwind not working in @import:
@import "./button.css";
*/
.btn {
  @apply inline-block bg-purple-700 text-white font-bold py-2 px-4 rounded-lg;
}
.btn:hover {
  @apply bg-purple-600;
}
.btn:focus {
  @apply outline-none bg-purple-600;
}

.btn-lg {
  @apply py-4 px-8 text-lg;
}

.btn-blue {
  @apply bg-blue-500;
}
.btn-blue:hover {
  @apply bg-blue-600;
}
.btn-blue:focus {
  @apply bg-blue-600;
}

.btn-orange {
  @apply bg-orange-500;
}
.btn-orange:hover {
  @apply bg-orange-600;
}
.btn-orange:focus {
  @apply bg-orange-600;
}

input + .btn {
  @apply rounded-tl-none rounded-bl-none;
}
/*
end @import "./button.css";
*/

.section {
  @apply max-w-7xl mx-auto px-3 py-6;
}

.headline {
  @apply text-3xl font-bold mb-4;
}

@screen md {
  .headline {
    @apply text-4xl;
  }
}

@screen lg {
  .headline {
    @apply text-5xl;
  }
}

@tailwind utilities;

html {
  scroll-behavior: smooth;
}

a {
  transition: all 0.25s;
}

#hero {
  background-image: url("/static/images/hero-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-color: #422d54;
  background-blend-mode: multiply;
}

@media (min-width: 640px) {
  #hero {
    background-image: url("/static/images/hero-full.jpg");
  }
}

.main {
  background-image: url("/static/images/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.monospace {
  font-family: monospace;
}

.close-button {
  /* margin-top: -10px; */
  margin-right: -12px;
  padding: 0;
  line-height: 14px;
}

[data-reach-dialog-content] {
  width: 90vw;
  margin: 8vh auto;
  background: white;
  padding: 2rem;
  outline: none;
}

@media (min-width: 800px) {
  [data-reach-dialog-content] {
    width: 50vw;
    margin: 10vh auto;
  }
}

[data-reach-dialog-overlay] {
  background: hsla(0, 0%, 0%, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.modal-content p {
  margin-bottom: 18px;
}

.modal-content a {
  color: purple;
}

.banner {
  background: linear-gradient(
    60deg,
    rgb(90, 199, 181) 10%,
    rgb(88, 161, 230) 50%,
    rgb(185, 147, 243) 100%
  );
  width: 100%;
}

.banner span {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.gradient-red {
  background: white;
  transition: 0s;
}

.gradient-red:hover {
  background: linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
