@tailwind base;
@tailwind components;

.section {
  @apply max-w-7xl mx-auto p-6 w-full;

  /* scroll-margin-top: 76px; */
}

.headline {
  @apply mb-4 text-3xl font-bold leading-relaxed;
}

@screen md {
  .headline {
    @apply text-4xl leading-relaxed;
  }
}

@screen lg {
  .headline {
    @apply text-5xl leading-relaxed;
  }

  .section {
    @apply py-8;
  }
}

@tailwind utilities;

html {
  scroll-behavior: smooth;
}

a {
  transition: all 0.25s;
}

#hero {
  background-image: url("/static/images/hero-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-color: #422d54;
  background-blend-mode: multiply;
}

@media (min-width: 640px) {
  #hero {
    background-image: url("/static/images/hero-full.jpg");
  }
}

.main {
  background-image: url("/static/images/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.monospace {
  font-family: monospace;
}

.close-button {
  /* margin-top: -10px; */
  margin-right: -12px;
  padding: 0;
  line-height: 14px;
}

[data-reach-dialog-content] {
  width: 90vw;
  margin: 8vh auto;
  background: white;
  padding: 2rem;
  outline: none;
}

@media (min-width: 800px) {
  [data-reach-dialog-content] {
    width: 50vw;
    margin: 10vh auto;
  }
}

[data-reach-dialog-overlay] {
  background: hsla(0, 0%, 0%, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.modal-content p {
  margin-bottom: 18px;
}

.modal-content a {
  color: purple;
}
